<ion-content [fullscreen]="true">
	<ion-grid>
		@if (!userSignal()) {
			<ion-row>
				<ion-col>
					@if (showCreateAccount) {
						<app-create-account [showButtonBack]="true" (back)="seeLogin()" (doCreateAccount)="setAddressDefault()" ></app-create-account>
					} @else {
						<app-login [showButtonBack]="true" (back)="backHome()" (newAccount)="newAccount()" (doLogin)="setAddressDefault()"></app-login>
					}

				</ion-col>
			</ion-row>
		} @else {
			<ion-row>
				<ion-col>
					<ion-card>
						<ion-card-header>
							<ion-card-title>
								{{'label.order' | translate }}
							</ion-card-title>
						</ion-card-header>
						@if (step === 1) {
							<ion-card-content>
								<app-list-products [showButtonPay]="false"/>
								<ion-item lines="none">
									<ion-button (click)="nextStep()" slot="end" [disabled]="numProductsSignal()===0">{{'label.next' | translate}}</ion-button>
								</ion-item>
							</ion-card-content>
						}
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-card>
						<ion-card-header>
							<ion-card-title>
								{{'label.address' | translate }}
							</ion-card-title>
						</ion-card-header>
						@if (step === 2) {
							<ion-card-content>
								<ion-radio-group (ionChange)="changeOptionAddress($event)">
									<ion-item lines="none">
										<ion-radio value="address-default">{{'label.use.my.address' | translate}}</ion-radio>
									</ion-item>
									<ion-item lines="none">
										<ion-radio value="choose-address">{{'label.choose.address' | translate}}</ion-radio>
									</ion-item>
								</ion-radio-group>
								@if (showNewAddress) {
									<ion-item>
										<ion-input [label]="'label.address' | translate" [(ngModel)]="address" />
									</ion-item>
								}
								<ion-item lines="none">
									<ion-button (click)="previousStep()" slot="start">{{'label.previous' | translate}}</ion-button>
									<ion-button (click)="nextStep()" slot="end">{{'label.next' | translate}}</ion-button>
								</ion-item>
							</ion-card-content>
						}
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-card>
						<ion-card-header>
							<ion-card-title>
								{{'label.payment.gateway' | translate }}
							</ion-card-title>
						</ion-card-header>
						@if (step === 3) {
							<ion-card-content>
								<ion-button color="tertiary" expand="block" (click)="payWithStripe()">{{'label.pay.stripe' | translate}}</ion-button>
								<ion-item lines="none">
									<ion-button (click)="previousStep()" slot="start">{{'label.previous' | translate}}</ion-button>
								</ion-item>
							</ion-card-content>
						}
					</ion-card>
				</ion-col>
			</ion-row>
		}

	</ion-grid>
</ion-content>
