<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
	  @if(theme) {
		  <ion-buttons slot="start">
			  <ion-icon name="sunny-outline" />
			  <ion-toggle appTheme [themeInitial]="theme" (themeSelected)="updateThemeSettings($event)" [checked]="theme === 'dark'"/>
			  <ion-icon name="moon-outline" />
		  </ion-buttons>
	  }
	  <ion-title>Mi lista de la compra</ion-title>
	  <ion-item slot="end" lines="none" color="transparent">
		  <ion-icon name="add-outline" (click)="openModal()"/>
	  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-searchbar placeholder="Buscar..." (ionInput)="filterItems($event)" clear-icon="trash-bin"></ion-searchbar>

	@if(isEmptySignal()) {
		<ion-item lines="none" class="ion-text-center">
			<ion-label>No hay items en la lista</ion-label>
		</ion-item>
	} @else {
		@for(groupItem of groupItems; track groupItem.name) {
			<ion-item-group>
				<ion-item-divider>
					<ion-label>{{groupItem.name}}</ion-label>
				</ion-item-divider>

				@for(item of groupItem.items; track item.id) {
					<ion-item lines="none">
						<ion-button slot="start" fill="clear">
							<ion-checkbox [checked]="item.checked" (ionChange)="updateItem(item)"/>
						</ion-button>
						<ion-text slot="start" [ngClass]="{'line-strike': item.checked}">{{item.quantity}} {{item.unit?.description}} {{item.description}}</ion-text>
						<ion-icon slot="end" name="close-outline" (click)="confirmDelete(item)"/>
					</ion-item>
				}
			</ion-item-group>
		}
	}

</ion-content>
