.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.big-font {
  font-size: 35vw;
}

:host-context(.plt-android), ion-header.ios {
  margin-top: 25px;
}

ion-footer {
  margin-bottom: 25px;
}